{
  "wwwAddress": "0.0.0.0",
  "wwwPort": 80,
  "wwwPublicURL": "http://mailslurper.localhost",
  "serviceAddress": "0.0.0.0",
  "servicePort": 4301,
  "servicePublicURL": "http://mailslurper.localhost:4301",
  "serviceURL": "http://mailslurper.localhost",
  "smtpAddress": "0.0.0.0",
  "smtpPort": 25,
  "dbEngine": "MySQL",
  "dbHost": "mysql",
  "dbPort": 3306,
  "dbDatabase": "mailslurper",
  "dbUserName": "root",
  "dbPassword": "{{ MYSQL_ROOT_PASSWORD }}",
  "maxWorkers": 1000,
  "autoStartBrowser": false,
  "keyFile": "",
  "certFile": "",
  "adminKeyFile": "",
  "adminCertFile": ""
}
