[bumpversion]
current_version = 0.3.0.dev1
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.dev(?P<dev>\d+))?
serialize =
	{major}.{minor}.{patch}.dev{dev}
	{major}.{minor}.{patch}
commit-args = --no-verify

[bumpversion:file:setup.py]
[bumpversion:file:derex/runner/__init__.py]
[bumpversion:file:docker-definition/Dockerfile]
search = DEREX_VERSION={current_version}
replace = DEREX_VERSION={new_version}
