{ [ -x "$(command -v python3.10)" ] && layout_python python3.10 && echo Using python3.10; } ||
{ [ -x "$(command -v python3.9)" ] && layout_python python3.9 && echo Using python3.9; } ||
{ [ -x "$(command -v python3.8)" ] && layout_python python3.8 && echo Using python3.8; } ||
{ [ -x "$(command -v python3.7)" ] && layout_python python3.7 && echo Using python3.7; } ||
{ [ -x "$(command -v python3.6)" ] && layout_python python3.6 && echo Using python3.6; } ||
{ echo No suitable python version found. Exiting; exit 1 ; }

export DEREX_ADMIN_SERVICES=true
export DOCKER_BUILDKIT=1
export DOCKER_CLI_EXPERIMENTAL=enabled
