layout_python python3
export DOCKER_COMPOSE="docker-compose -f $(pwd)/derex/runner/templates/docker-compose-services.yml -f $(pwd)/derex/runner/templates/docker-compose-edx.yml -f $(pwd)/derex/runner/templates/docker-compose-admin.yml"
