layout_python python3
export DOCKER_COMPOSE="docker-compose -f $(pwd)/derex/runner/compose_files/services.yml -f $(pwd)/derex/runner/compose_files/ironwood.yml -f $(pwd)/derex/runner/compose_files/admin.yml"

export DEREX_ADMIN_SERVICES=true
