[flake8]
max-line-length = 88
ignore = E266, E501, W391, W503
# Ignored errors:
# E266    Too many leading '#' for block comment
# E501    Line too long
# W391    Only allow one blank line at end of file
select = B,C,E,F,W,T4,B9
