include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include derex/runner/restore_dump.py.source

recursive-include derex/runner/cli *
recursive-include derex/runner/compose_files *
recursive-include derex/runner/fixtures *
recursive-include derex/runner/settings * *.py
recursive-include derex/runner/templates *
recursive-include docker-definition *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
