black
bumpversion
coverage
flake8
flake8-import-order
git+https://github.com/Abstract-Tech/pytest-black.git#egg=pytest-black
git+https://github.com/Abstract-Tech/pytest-flake8.git#egg=pytest-flake8
isort
mypy
pip-tools
pre-commit
pytest
pytest
pytest-cov
pytest-mock
pytest-runner
pyyaml==4.2b4
requests==2.20.1
Sphinx
tox
twine
watchdog
wheel
