-r requirements.txt
-r requirements_doc.in
black
bump2version
coverage
flake8
flake8-import-order
git+https://github.com/Abstract-Tech/pytest-black.git#egg=pytest-black
ipdb
isort
mypy==0.761  # For some reason pip-compile is stuck to 0.740
pip-tools
pre-commit
pytest
pytest-cov
pytest-mock>=v3.1.0
pytest-runner
pyyaml
scrypt
requests
tox
twine
watchdog
wheel
