.navbar .home-link .logo {
  margin-right: 0px;
}

@font-face {
  font-family: "RunMedium";
  src: url("run.ttf") format("truetype");
}

.navbar .packagename {
  color: #c1256b;
  font-family: "RunMedium";
  font-size: 1.5rem;
  margin-top: 7px;
}
