# Open edX services
version: "3.5"

x-common:
  &common-conf
  {% if project.runmode.name == "production" -%}
  image: {{ project.image_name }}
  restart: unless-stopped
  {% else -%}
  image: {{ project.requirements_image_name }}
  {% endif -%}
  tmpfs:
    - /tmp/
  networks:
    - derex
  volumes:
    - derex_{{ project.name }}_media:/openedx/media
    - derex_{{ project.name }}_data:/openedx/data/
    - {{ project.settings_directory_path() }}:/openedx/edx-platform/lms/envs/derex_project
    - {{ project.settings_directory_path() }}:/openedx/edx-platform/cms/envs/derex_project
    - {{ derex_django_path }}:/openedx/derex_django
    {%- if openedx_customizations %}{%- for dest, src in openedx_customizations.items() %}
    - {{ src }}:{{ dest }}
    {%- endfor %}{%- endif %}
    {%- if project.requirements_dir and not project.requirements_volumes %}
    - {{ project.requirements_dir }}:/openedx/derex.requirements
    {%- endif -%}
    {%- if project.requirements_volumes %}{%- for src, dest in project.requirements_volumes.items() %}
    - {{ src }}:{{ dest }}
    {%- endfor %}{%- endif %}
    {%- if project.fixtures_dir %}
    - {{ project.fixtures_dir }}:/openedx/fixtures
    {%- endif -%}
    {%- if project.themes_dir %}
    - {{ project.themes_dir }}:/openedx/themes
    {%- endif -%}
    {%- if project.runmode.value == "production" %}
    - {{ wsgi_py_path }}:/openedx/edx-platform/wsgi.py
    {%- endif %}

  environment:
    &common-env
    DEREX_PROJECT: {{ project.name }}
    DEREX_OPENEDX_VERSION: {{ project.openedx_version.name }}
    SETTINGS: derex_project.{{ project.settings.name }}
    MYSQL_DB_NAME: {{ project.mysql_db_name }}
    MYSQL_USER: {{ project.mysql_user }}
    MYSQL_PASSWORD: {{ project.secret("mysql") }}
    MONGODB_DB_NAME: {{ project.mongodb_db_name }}
    MONGODB_USER: {{ project.mongodb_user }}
    MONGODB_PASSWORD: {{ project.secret("mongodb") }}
    DEREX_MINIO_SECRET: {{ project.secret("minio") }}
    {%- for key, value in project.get_container_env().items() %}
    {{ key }}: {{ value | tojson }}
    {%- endfor %}

services:
  flower:
    <<: *common-conf
    command:
      sh -c 'echo Obtaining broker configuration from edx. This is a bit slow;
             export FLOWER_OPTIONS=$$(echo "from django.conf import settings; print(\"--broker=\" + settings.BROKER_URL + \" --broker_api=http://\" + settings.CELERY_BROKER_USER + \":\" + settings.CELERY_BROKER_PASSWORD + \"@\" + settings.CELERY_BROKER_HOSTNAME + \":15672/api/\") " | ./manage.py lms shell);
             echo Done. Flower options are \"$$FLOWER_OPTIONS\";
             exec flower --port=80 $$FLOWER_OPTIONS'
    environment:
      <<: *common-env
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.derex_project.{{ project.settings.name }}
    container_name: {{ project.name }}_flower
    networks:
      - derex
    networks:
        derex:
          aliases:
            - flower.{{ project.name }}.localhost.derex

  lms:
    <<: *common-conf
    {% if project.runmode.value == "debug" -%}
    command:
      sh -c 'exec ./manage.py $${SERVICE_VARIANT} runserver --noreload 0:80'
    {% else -%}
    command:
      sh -c 'exec gunicorn --name $${SERVICE_VARIANT}
        --bind 0.0.0.0:80
        --max-requests 1000
        --workers 3
        --max-requests-jitter 200
        --worker-class gevent
        --worker-tmp-dir /dev/shm
        --log-file=-
        wsgi:application'
    healthcheck:
      test: ["CMD", "wget", "localhost:80/heartbeat", "-q", "-O", "/dev/null"]
    {% endif -%}
    environment:
      <<: *common-env
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.derex_project.{{ project.settings.name }}
    networks:
        derex:
          aliases:
            - {{ project.name }}.localhost.derex
            - preview.{{ project.name }}.localhost.derex

  cms:
    <<: *common-conf
    {% if project.runmode.value == "debug" -%}
    command:
      sh -c 'exec ./manage.py $${SERVICE_VARIANT} runserver --noreload 0:80'
    {% else -%}
    command:
      sh -c 'exec gunicorn --name $${SERVICE_VARIANT}
        --bind 0.0.0.0:80
        --max-requests 1000
        --workers 3
        --max-requests-jitter 200
        --worker-class gevent
        --worker-tmp-dir /dev/shm
        --log-file=-
        --timeout 300
        wsgi:application'
    healthcheck:
      test: ["CMD", "wget", "localhost:80/heartbeat", "-q", "-O", "/dev/null"]
    {% endif -%}
    environment:
      <<: *common-env
      SERVICE_VARIANT: cms
      DJANGO_SETTINGS_MODULE: cms.envs.derex_project.{{ project.settings.name }}
    {% if project.runmode.value == "debug" -%}
    {% endif %}
    networks:
        derex:
          aliases:
            - studio.{{ project.name }}.localhost.derex

  lms_worker:
    <<: *common-conf
    command:
      sh -c 'celery worker -A lms.celery:APP --loglevel=INFO -n openedx.lms -Q openedx.lms.default'
    healthcheck:
      test: celery inspect ping -A lms.celery:APP -d celery@openedx.lms
      interval: 15m
      timeout: 15s
      retries: 3
      start_period: 30s
    environment:
      <<: *common-env
      C_FORCE_ROOT: "True"
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.derex_project.{{ project.settings.name }}

  cms_worker:
    <<: *common-conf
    command:
      sh -c 'celery worker -A cms.celery:APP --loglevel=INFO -n openedx.cms -Q openedx.cms.default'
    healthcheck:
      test: celery inspect ping -A cms.celery:APP -d celery@openedx.cms
      interval: 15m
      timeout: 15s
      retries: 3
      start_period: 30s
    environment:
      <<: *common-env
      C_FORCE_ROOT: "True"
      SERVICE_VARIANT: cms
      DJANGO_SETTINGS_MODULE: cms.envs.derex_project.{{ project.settings.name }}

  celerybeat:
    <<: *common-conf
    {% if project.openedx_version.name == "koa" -%}
    command:
      sh -c 'celery beat -A lms.celery:APP --scheduler django_celery_beat.schedulers:DatabaseScheduler'
    {% else -%}
    command:
      sh -c 'celery beat -A lms.celery:APP --scheduler djcelery.schedulers:DatabaseScheduler'
    {% endif -%}
    environment:
      <<: *common-env
      C_FORCE_ROOT: "True"
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.derex_project.{{ project.settings.name }}

networks:
  derex:
    name: derex

volumes:
  derex_{{ project.name }}_data:
  derex_{{ project.name }}_media:
