{
    "mysql": {{ "[{" if dump else "{" }}
        "dbname": "{{ project.mysql_db_name }}",
        "host": "mysql",
        "user": "root",
        "password": "secret",
        "port": "3306"
    {{ "}]," if dump else "}," }}
    "mongo": {
        "dbname": "{{ project.mongo_db_name }}",
        "host": "mongodb",
        "user": "edxapp",
        "password": "secret",
        "port": "27017"
    }
}
