{%- if project.elasticsearch_host == "elasticsearch7" %}

  {{ project.elasticsearch_host }}:
    image: {{ project.openedx_version.value["elasticsearch_image"] }}
    restart: unless-stopped
    container_name: {{ project.elasticsearch_host }}
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "cluster.name=openedx"
      # For the memory lock to work, the container should be started with
      # sufficient high a value for "Max locked memory".
      # For docker on a systemctl distro (like Ubuntu) this can be achieved with
      # echo -e "[Service]\nLimitMEMLOCK=infinity" | SYSTEMD_EDITOR=tee sudo -E systemctl edit docker.service
      # sudo systemctl daemon-reload
      # sudo systemctl restart docker
      - "bootstrap.memory_lock=true"
      - discovery.type=single-node
    healthcheck:
      test: curl --silent --fail localhost:9200/_cluster/health || exit 1
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 10s
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - {{ project.elasticsearch_docker_volume }}:/usr/share/elasticsearch/data
    networks:
      - derex

{%- else %}

  {{ project.elasticsearch_host }}:
    image: {{ project.openedx_version.value["elasticsearch_image"] }}
    restart: unless-stopped
    container_name: {{ project.elasticsearch_host }}
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "cluster.name=openedx"
      # For the memory lock to work, the container should be started with
      # sufficient high a value for "Max locked memory".
      # For docker on a systemctl distro (like Ubuntu) this can be achieved with
      # echo -e "[Service]\nLimitMEMLOCK=infinity" | SYSTEMD_EDITOR=tee sudo -E systemctl edit docker.service
      # sudo systemctl daemon-reload
      # sudo systemctl restart docker
      - "bootstrap.memory_lock=true"
    healthcheck:
      test: curl --silent --fail localhost:9200/_cluster/health || exit 1
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 10s
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - {{ project.elasticsearch_docker_volume }}:/usr/share/elasticsearch/data
    networks:
      - derex

{%- endif %}
