# Services needed for Open edX to work
version: "3.5"
services:
  {%- if project.config.get("enable_host_caddy") %}
  caddy:
    restart: unless-stopped
    image: caddy:2-alpine
    ports:
      - 0.0.0.0:443:443
      - 0.0.0.0:80:80
    volumes:
      - {{ host_caddy_dir }}:/etc/caddy
      - /var/caddy:/data
      - /var/log/caddy:/var/log/
    healthcheck:
      test: wget -q -O - http://localhost:8080
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - derex
  {%- endif %}

networks:
  derex:
    name: derex
