// Theme for derex testing
// This theme is not meant to be used (it's not meant to be nice)
// outside testing

// Make the background color yellow: we want to see CSS working at a glance
$primary: #00c;
$inverse: #ff0;

// Mention somthing that we demand to see in the final CSS of the LMS
this_is_a_customized_theme {
  font-size: 100%;
}

// Theme fonts
$font-family-sans-serif: cursive;

// Initialize the Open edX Bootstrap theme
@import "edx-bootstrap/sass/open-edx/theme";
